@media only screen and (min-width:992px) and (max-width:1360px) {
    .bgheader{
        width: 170px;
    }

    .logo{
        height: 50px;
        width: 50px;
        margin-top: 2rem;
    }

    .nav-menu1 {
        margin-left: 0;
    }

    .buy {
        left: 25px;
    }

    .S1 {
        width: 100%;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {
    .container {
        position: absolute;
        left: 40%;
    }

    .left,
    .right {
        display: none;
    }

    .black {
        flex-wrap: wrap;
        height: auto;
    }

    .esports {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }

    h1,
    .GAMER2 {
        text-align: center;
    }

    .p1 img,
    .p2 img {
        width: 100%;
    }

    .style {
        height: auto;
    }

    .amplifier,
    .battles,
    .creek,
    .gundown {
        width: 80%;
    }

    .amp,
    .bat,
    .kai,
    .gun {
        display: none;
    }

    .photo4 {
        flex-wrap: wrap;
    }

    .footer {
        height: auto;
    }

    ul.f-m {
        flex-wrap: wrap;
    }
}

@media only screen and (min-width:576px) and (max-width:768px) {
    .left,
    .right {
        display: none;
    }

    .ysoj {
        text-align: center;
    }

    .red {
        width: 20%;
    }

    .black {
        flex-wrap: wrap;
        height: auto;
    }

    h1 {
        text-align: center;
    }

    .p1 img,
    .p2 img {
        width: 100%;
    }

    .esports {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }

    .box {
        flex-direction: column;
        height: auto;
    }

    .style {
        height: auto;
    }

    .amp,
    .bat,
    .kai,
    .gun {
        display: none;
    }

    .amplifier,
    .battles,
    .creek,
    .gundown {
        width: 71.4%;
    }

    .msg-box {
        flex-direction: column;
    }

    .e-mail,
    .msg {
        width: 100%;
        margin-top: 100px;
        text-align: center;
    }

    .photo4 {
        flex-wrap: wrap;
    }

    .footer {
        height: auto;
    }

    ul.f-m {
        flex-wrap: wrap;
    }

    .fa-envelope-o {
        margin-left: 5%;
    }

    .widget {
        margin-left: 0;
        text-align: center;
    }
}

@media only screen and (min-width:300px) and (max-width:575px) {
    .container {
        position: absolute;
        left: 10%;
    }

    .skew1,
    .skew2 {
        display: none;
    }

    i.fa-search {
        display: none;
    }

    .left,
    .right {
        display: none;
    }

    .buy{
        bottom: 85px;
        left: 0;
    }

    .ysoj {
        text-align: center;
    }

    .red {
        width: 20%;
    }

    .black {
        flex-wrap: wrap;
        height: auto;
    }

    h1 {
        text-align: center;
    }

    .esports {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
    }

    .GAMER2{
        padding: 5%;
    }

    .box {
        flex-direction: column;
        height: auto;
    }

    i.fa-play {
        display: none;
    }

    .B1{
        height: 200px;
    }

    .p1 img,
    .p2 img {
        width: 100%;
    }

    .expo {
        height: auto;
    }

    .game-expo {
        display: none;
    }

    .view {
        width: 100%;
    }

    .up {
        width: 100%;
    }

    .style {
        height: auto;
    }

    .amp,
    .bat,
    .kai,
    .gun {
        display: none;
    }

    .amplifier,
    .battles,
    .creek,
    .gundown {
        width: 62.4%;
    }

    .number {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .msg-box {
        flex-direction: column;
    }

    .e-mail,
    .msg {
        width: 100%;
        text-align: center;
    }

    .footer {
        height: auto;
    }

    ul.f-m {
        flex-wrap: wrap;
    }

    .letter {
        margin-left: 0;
    }

    .fa-envelope-o {
        margin-left: 5%;
    }

    .widget {
        margin-left: 0;
        text-align: center;
    }
}