@media only screen and (min-width:992px) and (max-width:1326px) {
    .navigation, .photo, .black, .text3, .esports, .class  {
        width: 100%;
    }

    .expo, .parallax, .msg-box, .gallery, .ex, .footer {
        width: 100%;
    }

    .matches{
        width: 100%;
        height: 70pc;
    }
}
@media only screen and (min-width:769px) and (max-width:991px) {
    .navigation, .photo, .black, .text3, .esports, .class  {
        width: 165%;
    }

    .expo, .parallax, .msg-box, .gallery, .ex, .footer {
        width: 165%;
    }

    .matches{
        width: 168%;
        height: 80pc;
    }

    .shopping{
        width: 105%;
    }
}
@media only screen and (min-width:576px) and (max-width:768px) {
    .navigation, .photo, .black, .text3, .esports, .class  {
        width: 230%;
    }

    .expo, .parallax, .msg-box, .gallery, .ex, .footer {
        width: 230%;
    }

    .matches{
        width: 224%;
        height: 100pc;
    }

    .photo4{
        width: 105%;
    }

    .shopping{
        width: 105%;
    }
}
@media only screen and (min-width:300px) and (max-width:575px) {
    .navigation, .photo, .black, .text3, .esports, .class  {
        width: 400%;
    }

    .navigation{
        width: 400%;
        height: 150px;
    }

    .expo, .msg-box, .gallery, .ex, .footer {
        width: 400%;
    }

    .parallax{
        width: 400%;
        height: 700px;
    }

    .matches{
        width: 400%;
        height: 130pc;
    }

    .trending{
        width: 86%;
        margin-left: 6%;
    }

    .amplifier, .battles, .creek, .gundown{
        width: 95.8%;
    }

    .photo4{
        width: 100%;
    }

    .shopping{
        width: 100%;
    }
}